### 2017 Data ###

In [1]:
## Importing packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import psycopg2  ## PostgreSQL Connection Package

In [2]:
# Connection to PostgreSQL Database
connection = psycopg2.connect(user='capstonedba', password='ubaEYyxl3UimQCGa4S1e8yvlZmkGRK', host='capstone-db.c9mqkx12zppw.us-east-1.rds.amazonaws.com', port='5432', database='capstonedba')

cursor = connection.cursor()

## Printing database connection properties
print(connection.get_dsn_parameters(),'\n')

## Printing PostgreSQL Database version
cursor.execute("SELECT version();")
record = cursor.fetchone()
print("You are connected to - ", record, '\n')

{'user': 'capstonedba', 'dbname': 'capstonedba', 'host': 'capstone-db.c9mqkx12zppw.us-east-1.rds.amazonaws.com', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 10.6 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.3 20140911 (Red Hat 4.8.3-9), 64-bit',)

In [3]:
# Pulling data from database for dataframe
## Creating variable for SQL query
sql = "SELECT * FROM loans WHERE year='2017';"

### Executing sql query on database
cursor.execute(sql)

#### Fetching the results from query
data = cursor.fetchall()

##### Storing them in a variable and then making that variable a DataFrame
data = pd.DataFrame(data)
print(data.head())

     0        1        2       3       4     5     6   7   8   9   \
0  2017  2092102  Atlanta  3.2928   71967  0.89  2016   2   2   1
1  2017  2092103  Atlanta  4.0513  514837  0.94  2016   2   2   1
2  2017  2092104  Atlanta  2.2109  425563  1.04  2016   1   2   1
3  2017  2092105  Atlanta  2.3403  251800  0.75  2016   2   2   1
4  2017  2092106  Atlanta  1.0537  290613  0.85  2016   2   2   1

      ...         15    16    17 18     19 20     21     22 23           24
0     ...       PT01  0.13  1.61  1  0.879  1      1  0.743  1  0.136693202
1     ...       PT01  0.13  1.61  1  0.879  1      1  0.743  1  0.136693202
2     ...       PT01  0.13     1  1  0.879  1  1.431  0.743  1  0.121495635
3     ...       PT07  0.13  1.61  1  0.879  1  1.431   1.76  1   0.46335132
4     ...       PT01  0.13  1.61  1  0.879  1   2.02   2.85  1  1.059142348

[5 rows x 25 columns]

In [4]:
# Manually Coding Columns for DataFrame
data.columns = ['Year', 'Assigned_ID', 'Bank', 'IncRat', 'UPB', 'LTV', 'MortDate','Purpose', 'Coop', 'Product','FedGuar', 'Occup', 'Front','Back','BoCreditScor','PropType', 'LTV_M', 'Purpose_M','Coop_M','Product_M','Occup_M','Back_M','BoCreditScor_M','PropType_M','Loan_Multiplier']
print(data.head())

   Year  Assigned_ID     Bank  IncRat     UPB   LTV  MortDate  Purpose  Coop  \
0  2017      2092102  Atlanta  3.2928   71967  0.89      2016        2     2
1  2017      2092103  Atlanta  4.0513  514837  0.94      2016        2     2
2  2017      2092104  Atlanta  2.2109  425563  1.04      2016        1     2
3  2017      2092105  Atlanta  2.3403  251800  0.75      2016        2     2
4  2017      2092106  Atlanta  1.0537  290613  0.85      2016        2     2

   Product       ...        PropType  LTV_M Purpose_M Coop_M Product_M  \
0        1       ...            PT01   0.13      1.61      1     0.879
1        1       ...            PT01   0.13      1.61      1     0.879
2        1       ...            PT01   0.13         1      1     0.879
3        1       ...            PT07   0.13      1.61      1     0.879
4        1       ...            PT01   0.13      1.61      1     0.879

  Occup_M Back_M BoCreditScor_M PropType_M Loan_Multiplier
0       1      1          0.743          1     0.136693202
1       1      1          0.743          1     0.136693202
2       1  1.431          0.743          1     0.121495635
3       1  1.431           1.76          1      0.46335132
4       1   2.02           2.85          1     1.059142348

[5 rows x 25 columns]

In [5]:
# Recoding variables to the right data type
data.IncRat = data.IncRat.astype(float)
data.UPB = data.UPB.astype(int)
data.LTV = data.LTV.astype(float)
data.Front = data.Front.astype(float)
data.Back = data.Back.astype(float)
data.LTV_M = data.LTV_M.astype(float)
data.Purpose_M = data.Purpose_M.astype(float)
data.Coop_M = data.Coop_M.astype(float)
data.Product_M = data.Product_M.astype(float)
data.Occup_M = data.Occup_M.astype(float)
data.Back_M = data.Back_M.astype(float)
data.BoCreditScor_M = data.BoCreditScor_M.astype(float)
data.PropType_M = data.PropType_M.astype(float)
data.Loan_Multiplier = data.Loan_Multiplier.astype(float)

In [6]:
# Checking data types of attributes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55990 entries, 0 to 55989
Data columns (total 25 columns):
Year               55990 non-null int64
Assigned_ID        55990 non-null int64
Bank               55990 non-null object
IncRat             55990 non-null float64
UPB                55990 non-null int32
LTV                55990 non-null float64
MortDate           55990 non-null int64
Purpose            55990 non-null int64
Coop               55990 non-null int64
Product            55990 non-null int64
FedGuar            55990 non-null int64
Occup              55990 non-null int64
Front              55990 non-null float64
Back               55990 non-null float64
BoCreditScor       55990 non-null object
PropType           55990 non-null object
LTV_M              55990 non-null float64
Purpose_M          55990 non-null float64
Coop_M             55990 non-null float64
Product_M          55990 non-null float64
Occup_M            55990 non-null float64
Back_M             55990 non-null float64
BoCreditScor_M     55990 non-null float64
PropType_M         55990 non-null float64
Loan_Multiplier    55990 non-null float64
dtypes: float64(13), int32(1), int64(8), object(3)
memory usage: 10.5+ MB

In [7]:
# Dropping unneccessary columns
data = data.drop(columns=['LTV_M','Purpose_M','Coop_M','Product_M','Occup_M','Back_M','BoCreditScor_M','PropType_M','Loan_Multiplier'], axis=0);
print(data.head())

   Year  Assigned_ID     Bank  IncRat     UPB   LTV  MortDate  Purpose  Coop  \
0  2017      2092102  Atlanta  3.2928   71967  0.89      2016        2     2
1  2017      2092103  Atlanta  4.0513  514837  0.94      2016        2     2
2  2017      2092104  Atlanta  2.2109  425563  1.04      2016        1     2
3  2017      2092105  Atlanta  2.3403  251800  0.75      2016        2     2
4  2017      2092106  Atlanta  1.0537  290613  0.85      2016        2     2

   Product  FedGuar  Occup   Front    Back BoCreditScor PropType
0        1        2      1  0.1118  0.2265            5     PT01
1        1        2      1  0.1446  0.2370            5     PT01
2        1        2      1  0.2312  0.3152            5     PT01
3        1        2      1  0.1657  0.3430            4     PT07
4        1        2      1  0.4062  0.4224            3     PT01

In [8]:
data.loc[(data.PropType == 'PT01', 'PropType')] = 1
data.loc[(data.PropType == 'PT02', 'PropType')] = 2
data.loc[(data.PropType == 'PT03', 'PropType')] = 3
data.loc[(data.PropType == 'PT04', 'PropType')] = 4
data.loc[(data.PropType == 'PT05', 'PropType')] = 5
data.loc[(data.PropType == 'PT06', 'PropType')] = 6
data.loc[(data.PropType == 'PT07', 'PropType')] = 7
data.loc[(data.PropType == 'PT08', 'PropType')] = 8
data.loc[(data.PropType == 'PT09', 'PropType')] = 9
data.loc[(data.PropType == 'PT10', 'PropType')] = 10
data.loc[(data.PropType == 'PT11', 'PropType')] = 11
data.loc[(data.PropType == 'PT12', 'PropType')] = 12

In [9]:
data.head()

,Year,Assigned_ID,Bank,IncRat,UPB,LTV,MortDate,Purpose,Coop,Product,FedGuar,Occup,Front,Back,BoCreditScor,PropType
0,2017,2092102,Atlanta,3.2928,71967,0.89,2016,2,2,1,2,1,0.1118,0.2265,5,1
1,2017,2092103,Atlanta,4.0513,514837,0.94,2016,2,2,1,2,1,0.1446,0.2370,5,1
2,2017,2092104,Atlanta,2.2109,425563,1.04,2016,1,2,1,2,1,0.2312,0.3152,5,1
3,2017,2092105,Atlanta,2.3403,251800,0.75,2016,2,2,1,2,1,0.1657,0.3430,4,7
4,2017,2092106,Atlanta,1.0537,290613,0.85,2016,2,2,1,2,1,0.4062,0.4224,3,1

In [10]:
# Exporting to csv file
data.to_csv("2017_Data.csv", sep=',')